@import "tailwindcss";
@import "tailwindcss";
@source "../views";
@import "./navbar.css";
@import "./UmumDasboard.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-poppins: "Poppins", "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
    .bg-debug {
        background-color: #fc0000;
    }
    .bg-batik {
        background-image: url("/img/Bg/batikstatik.png");
        background-size: cover;
        background-position: center;
    }
}

@theme {
    --color-kuning: #ffc43d;
    --color-putih: #ffffff;
    --color-abuabu: #d9d9d9;
    --color-hitam: #000000;
    --color-biru: #2ca5f0;
    --color-merah: #ff0000;
}
